@import '../../../../styles/variables.scss';
@import '../../../../styles/utilities.scss';
@import '../../../../styles/typography.scss';

.numberField {
    @include flex-column-start;
    max-width: 26.5rem;

    label {
        @include text-preset-4;
        color: $slate-700;
    }
}

.errorMessage {
    @include text-preset-5;
    color: $red;
}

.fieldInput {
    @include flex-row;
    @include text-preset-3;
    height: 3rem;
    border: 1px solid $slate-500;
    border-radius: 0.25rem;
    margin-top: $spacing-150;
    box-sizing: border-box;
    overflow: hidden;
    transition: 400ms;

    .unit {
        @include flex-row-center;

        span {
            color: $slate-700;
            padding: $spacing-150;
            background-color: $slate-100;
            transition: 400ms;
            @include text-preset-4;
        }
    }
    
    input {
        width: 100%;
        border: none;
        padding-left: $spacing-200;
        color: $slate-900;
        @include text-preset-3;

        &:focus {
            outline: none;
        }
    }

    &:hover {
        border-color: $slate-900;
    }

    &:focus-within {
        border-color: $lime;

        .unit span {
            background-color: $lime;
            color: $slate-900;
        }
    }

    &.invalid {
        border-color: $red;

        .unit span {
            background-color: $red;
            color: $white;
        }
    }
}