@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../styles/utilities.scss';

.form {
    @include flex-column;
    max-width: 500px;

    fieldset {
        @include flex-column-start;
        border-style: none;
        padding: 0;
        margin: 0;
    }

    legend {
        @include text-preset-4;
    }
}
