@import '../../../styles/variables.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/utilities.scss';

.form {
    @include flex-column;
    margin: $spacing-500;
    flex: 1;

    >fieldset {
        border-style: none;
    }

    @include respond-to-phone {
        margin: $spacing-400 $spacing-300;
    }
}

.legend {
    @include text-preset-2;
    @include flex-row-justify-between;
    color: $slate-900;
    width: 100%;

    button {
        @include text-preset-4;
        background: none;
        border: none;
        padding: 0rem;
        text-decoration: underline;
        color: $slate-700;
        transition: 400ms;

        &:hover {
            color: $slate-900;
        }

        @include respond-to-phone {
            margin-top: 8px;
        }
    }

    @include respond-to-phone {
        @include flex-column-start;
    }
}

.inputsContainer {
    margin: $spacing-500 0;

    @include respond-to-phone {
        margin: $spacing-300 0;
    }
}

.smallInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-300;
    margin: $spacing-300 0;
    align-items: end;
}