@import 'variables';

@mixin flex($direction: $flex-row, $justify: $flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column {
    @include flex($flex-column);
}

@mixin flex-column-start {
    @include flex($flex-column, $flex-start);
}

@mixin flex-column-center {
    @include flex($flex-column, $flex-center, $flex-center);
}

@mixin flex-row {
    @include flex($flex-row);
}

@mixin flex-row-justify-between {
    @include flex($flex-row, $flex-space-between);
}

@mixin flex-row-start {
    @include flex($flex-row, $flex-start);
}

@mixin flex-row-center {
    @include flex($flex-row, $flex-center, $flex-center);
}

@mixin respond-to-tablet {
    @media (max-width: $max-width-tablet) {
        @content;
    }
}