@import 'variables';

@mixin flex($direction: $flex-row, $justify: $flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column {
    display: flex;
    flex-direction: $flex-column;
    justify-content: $flex-start;
    align-items: stretch;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: $flex-column;
    justify-content: $flex-start;
    align-items: baseline;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: $flex-column;
    justify-content: $flex-center;
    align-items: $flex-center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}

@mixin flex-row-justify-between {
    display: flex;
    flex-direction: $flex-row;
    justify-content: $flex-space-between;
    align-items: stretch;
}

@mixin flex-row-start {
    display: flex;
    flex-direction: $flex-row;
    justify-content: $flex-start;
    align-items: stretch;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: $flex-row;
    justify-content: $flex-center;
    align-items: $flex-center;
}

@mixin flex-row-start-center {
    display: flex;
    flex-direction: $flex-row;
    justify-content: $flex-start;
    align-items: $flex-center;
}

@mixin respond-to-tablet {
    @media (max-width: $max-width-tablet) {
        @content;
    }
}

@mixin respond-to-phone {
    @media (max-width: $max-width-phone) {
        @content;
    }
}