@import '../../../../../styles/variables.scss';
@import '../../../../../styles/typography.scss';
@import '../../../../../styles/utilities.scss';

.radioButton {
    @include flex-row-start-center;
    @include text-preset-3;
    color: $slate-900;
    border: 0.0625rem solid $slate-700;
    border-radius: 0.25rem;
    width: 100%;
    height: 3rem;
    margin-top: $spacing-150;
    transition: border-color 400ms;
    transition: 400ms;

    &:hover {
        border-color: $lime;
        transition: 400ms;
    }

    &:focus-within {
        border-color: $lime;
        transition: 400ms;
    }

    &.checked {
        background-color: $lime-white;
        border-color: $lime;

        .checkbox {
            color: $lime;
        }
    }
}

.input {
    opacity: 0;
    position: absolute;
}

.checkbox {
    color: $slate-700;
    width: 1.5rem;
    height: 1.5rem;
    margin: $spacing-150 $spacing-200;
}