@import '../../styles/variables.scss';
@import '../../styles/utilities.scss';
@import '../../styles/typography.scss';

.fieldOuter {
    height: 3rem;
    border-radius: 4px;
    border-width: 1px;
    max-width: 26.5rem;
    border-color: $slate-500;
    border-style: solid;
    @include flex-row;
    @include text-preset-3;
    // TODO: This can applied to whole app higher up.
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 400ms;

    &.active {
        border-color: $lime;
    }

    &.hover {
        border-color: $slate-900;
    }
}

.prefix {
    @include flex-row-center;

    p {
        color: $slate-700;
        padding: $spacing-150;
        background-color: $slate-100;
        transition-duration: 400ms;

        &.active {
            background-color: $lime;
            color: $slate-900;
        }
    }
}

.input {
    width: 100%;
    border-style: none;
    padding-left: $spacing-200;
    color: $slate-900;
    @include text-preset-3;

    &:focus {
        outline: none;
    }
}
