@import '../../styles/variables.scss';
@import '../../styles/utilities.scss';

.main {
    @include flex-row-center;
    max-width: 63rem;
    border-radius: 1.5rem;
    background-color: $white;
    transition: all 400ms;
    height: auto;

    @include respond-to-tablet {
        @include flex-column-center;
        max-width: 43rem;
    }

    @include respond-to-phone {
        border-radius: 0;
    }
}